* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  padding-block: 32px;
  padding-inline: 24px;
}

.container {
  margin-inline: auto;
}

.title-section {
  margin-block: 16px 24px;
}

/* 
 Header
*/
header {
  position: sticky;
}

header .wrapper {
  background-color: #2d3e50;

  color: beige;
}

.brand-name {
  font-size: 2rem;
  text-decoration: inherit;
  color: inherit;
}

/* 
* Character list
*/
.note-list {
  margin-block: 1rem;

  /* Flex layout */

  /* display: flex;
  flex-wrap: wrap;
  justify-content: center; */

  /* Grid layout */

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

  column-gap: 2%;
  row-gap: 24px;
}

.note-item {
  border: 1px solid black;
  border-radius: 8px;
  padding: 16px;

  flex-basis: 15%;

  transition: all 150ms ease-in;
}

.note-item:hover,
.note-item:focus-visible {
  scale: 1.05;
  box-shadow: 0 2px 4px 2px #33333377;
}

.note-item .char {
  text-align: center;
  font-size: 3em;
}

.note-item .char__description {
  margin-block: 0.5rem;

  display: flex;
  justify-content: space-evenly;
}

.note-item .char__example {
  margin-block-start: 1.5rem;
  text-align: center;
}

.note-item .char__example-img {
  width: 75%;
  margin-block-end: 1rem;
}

/* 
 * Footer
*/
footer {
  color: beige;
}

footer .wrapper {
  background-color: #2d3e50;
}

.foot-information {
  text-align: center;
}

/* styles.css */

form {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

label {
  margin-bottom: 5px;
}

input,
textarea {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn-one {


  outline: 0;
  grid-gap: 8px;
  align-items: center;
  background: #77b8fd;
  border: 1px solid #000;
  border-radius: 4px;
  cursor: pointer;
  display: inline-flex;
  flex-shrink: 0;
  font-size: 16px;
  gap: 8px;
  justify-content: center;
  line-height: 1.5;
  overflow: hidden;
  padding: 12px 16px;
  text-decoration: none;
  text-overflow: ellipsis;
  transition: all .14s ease-out;
  white-space: nowrap;
  font-size: 1rem;

}

.btn-one:hover {
  box-shadow: 4px 4px 0 #000;
  transform: translate(-4px, -4px);
}

.btn-one:focus-visible {
  outline-offset: 1px;
}